# Archivos y carpetas generados por Eclipse
/.settings/
*.project
*.classpath
*.factorypath

# Archivos compilados de Java
/bin/
/target/
*.class

# Archivos de configuración de IDE
*.iws
*.idea/
*.iml

# Archivos de logs y temporales
*.log
*.tmp
*.bak
*.swp
*~.nib
.DS_Store

# Dependencias gestionadas por herramientas externas
/lib/
/libs/

# Carpetas de compilación de otras herramientas
/target/
/build/

